# Token (necessário renovar a cada 6 horas)
TOKEN_API_MELI = 'seu_token'

# Credenciais Database
DB_NAME = 'seu_banco'
DB_SCHEMA = 'seu_schema'
DB_USER = 'seu_user'
DB_PASSWORD = 'sua_senha'
DB_HOST = 'seu_host'
DB_PORT = 'sua_porta'

# Credentials for refresh token meli
CLIENT_ID = 'id_sua_app'
CLIENT_SECRET = 'sua_secret_key'
REFRESH_TOKEN = 'seu_refresh_token'
TOKEN_URL = 'https://api.mercadolibre.com/oauth/token'
